* {
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: Roboto, Helvetica, Arial, 'sans-serif';
  background: #333;
  height: 100%;
  margin: 1rem;
}

#root,
main {
  width: 100%;
  height: 100%;
}

.leaflet-container {
  width: 100%;
  height: 80%;
}
